fastapi
python-dotenv
openai
sqlalchemy
databases
pyodbc
uvicorn
fastapi[standard]
weaviate
weaviate-client
pymongo
gunicorn
google-genai
langchain
langchain_community
pypdf
langchain_experimental
langchain_openai